<div class="nav-bar">
    <div
    [routerLink]="['/dashboard']"
    routerLinkActive="active"
    *ngIf="authService.isLoggedIn"
  >
    Home
    </div>
  <div
    [routerLink]="['/profile/account']"
    routerLinkActive="active"
    *ngIf="authService.isLoggedIn"
  >
    Profile
  </div>
  <div
    [routerLink]="['/sign-in']"
    routerLinkActive="active-2"
    *ngIf="!authService.isLoggedIn"
  >
    SIGN IN
  </div>
  <div
    [routerLink]="['/register-user']"
    routerLinkActive="active-2"
    *ngIf="!authService.isLoggedIn"
  >
    SIGN UP
  </div>
  <div *ngIf="authService.isLoggedIn" (click)="authService.SignOut()">
    Log Out
    <img
      src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/null/external-log-out-arrows-pack-tanah-basah-basic-outline-tanah-basah.png"
    />
  </div>
</div>
