.nav-bar {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 75px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
    justify-content: center;

    & > div {
        font-size: 18px;
        cursor: pointer;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        & > img {
            height: 18px;
            
        }

        &:hover {
            font-size: 19px;
        }

        &:hover img {
            height: 19px;
        }
    }
}

.active-2 {
    border-bottom: solid 2px rgb(19, 217, 55);
}