<div class="verify-email">
    <h3>Thank You for Registering</h3>
    <div *ngIf="authService.userData as user">
        <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p>Please check your email and click on the link to verfiy your email address.</p>
    </div>

    <div>
        <button type="button" (click)="authService.SendVerificationMail()">
          Resend Verification Email
        </button>
      </div>

      <div style="margin-top: 10px;">
        <span style="cursor: pointer;" routerLink="/sign-in"> Sign in</span>
      </div>
</div>