.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  

  & > .header {
    width: 100%;
    padding: 40px 0px 40px 0px;
    text-align: center;
    background-color: rgb(19, 217, 55);
    color: white;
    font-size: 30px;
    font-weight: 700;
  }

  & > .user {
    height: 100%;
    display: flex;
    gap: 30px;

    & .user-sidebar {
        display: flex;
        background-color: white;
        padding: 30px 0px 30px 0px;
        border-radius: 7px;
        border: solid 1px #f3f0e8;

        & > .display-name {
            font-weight: 700;
        }

        & > .tabs {   
            height: auto;
            display: flex;
            gap: 5px;
            flex-direction: column;

            & > .tab {               
                cursor: pointer;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #f2f2f2;
                color: #444648;

                &:hover {
                    border-radius: 10px;
                    background-color: #f2f2f2;
                }
            }
        }

        & > .user_img {
            border-radius: 50%;
            border: solid #444648 2px;
        }
    }

    & .user-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: white;
        height: 500px;
        border-radius: 7px;
        border: solid 1px #f3f0e8;
    } 

    & .tags {
        font-size: 25px;
        color: red;
    }
  }
}

@media  screen and (min-width: 700px) {
    .user {
        width: 100%;
        max-width: 1200px;  
        align-items: center;
        justify-content: space-around;

        & .user-dashboard {
            width: 70%;
        }
    }

    .user-sidebar {
        width: 35%;
        max-width: 330px;
        flex-direction: column;
        align-items: center;
        height: 500px;

        & > .user_img {
            width: 130px;
            height: 130px;
            margin-bottom: 20px;
        }

        & > .display-name {
            font-size: 23px;
            margin-bottom: 80px;
        }

        & > .tabs {
            width: 90%;

            & > .tab {
                padding-left: 10px;
                font-size: 17px;
                height: 40px;
            }
        }
    }
}

@media  screen and (max-width: 700px) {
    .user {
        width: 85%;
        max-width: 695px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        & .user-dashboard {
            width: 98%;
        }
    }

    .user-sidebar {
        width: 98%;
        height: 120px;
        gap: 40px;
        align-items: center;
        justify-content: center;
        
        & > .user_img {
            width: 75px;
            height: 75px;
        }

        & > .display-name {
            display: none;
        }

        & > .tabs {

            & > .tab {
                font-size: 16px;
                padding: 0px 5px 0px 5px;
                height: 25px;
            }
        }
    }
}